html {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: Calibri;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-image: url('../images/green2.jpg');
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#container {
	margin: auto;
	width: 50%;
	border-radius: 5px;
	-moz-border-radius: 15px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 550px;
	box-shadow: 10px 10px 5px #2B520D;
  background: #FFFFFF;
  background: -webkit-linear-gradient(top, #a1e048, #6a942f);
  background: linear-gradient(top, #a1e048, #6a942f);
}

#header {
	text-align: center;
	font-family: "Calibri";
	font-size: 36px;
	color: #274511;
	text-shadow: 0 0 2px #274511;

}

#chatMessageArea {
	padding: 1%;
	height:63%;
	width:53%;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	float: left;
	resize: none;
	overflow-y: scroll;
	overflow-x: hidden;
}

#chatFriendList {
	float: right;
	width: 38%;
	height: 65%;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	resize: none;
	overflow-y: scroll;
}

#chatControl {
	background-color: #FFFFFF;
	height: 10%;
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

#chatTextArea {
	width: 85%;
	height: 20%;
	resize: none;
	float: left;
}

#chatSubmit {
	width: 13%;
	height: 21%;
	float: right;
}

#splash {
	background-color: rgba(0,0,0,0.6);
	color: #000000;
	padding: 10px;
	width: 20%;
	position: absolute;
	top: 35%;
	left: 40%;
	-webkit-border-radius: 2px;
	text-align: center;
	z-index: 2;
	font-family: Calibri;
	font-size: large;
}

#online {
	margin: 5px;
	width: 92.5%;
	display: block;
	background-color: #A1E048;
	text-align: center;
	padding: 5px;
}

#online:hover {
	background-color: #2B520D;
}

#online.active {
	background-color: #274511;
}

#close {
	position: fixed;
	top:0;
	right:0;
	font-size:larger;
	background-color: #2B520D;
	height:40px;
	color:#A1E048;
	width: 100px;
	text-align: center;
	padding-top: 10px;
}
#close:hover {
	background-color: #6A942F;
	color: #000000;
}
#sender {
	float: left;
	text-decoration:blink;
	font-weight:bold;
	margin-bottom: 5px;
}

#timestamp {
	float: right;
	color: #FFFFFF;
	font-size:smaller;
}

#timestamp:hover {
	color: #000000;
}

#message {
	clear:both;	
	font-size:large;
}

#livesearch {
	padding: 2px;
	background-color: #2B520D;
	color: #A1E048; 
	position: fixed;
	top: 600px;
	width: 300px;
}
#value:hover {
	background-color: #A1E048;
	color: #000000;
}
#chatUpload {
	padding: 2px;
	background-color: #2B520D;
	color: #A1E048; 
	position: fixed;
	bottom: 0;
	right:0;
	width: 300px;
	height: auto;
}

#image {
	height: auto;
	width: 300px;
}
